<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
    <style>

    </style>
</head>
<body>
    <h2 style="font-size: 48px; color: #ff9900; text-align:center;">Đăng Nhập Thất Bại</h2>

    <h3 style="font-size: 24px; color: #333; text-align:center;">Bạn Hãy Kiểm Tra Lại Tên Khoản và Mật Khẩu</h3>

    <div style="display: flex; justify-content: center; align-items: center;">
        <button style="text-align:center; background-color: #28a745; color: white; font-weight: bold; padding: 10px; border: none; border-radius: 5px; width: 200px; cursor: pointer;" type="button" onclick="location.href='@Url.Action("Index", "Login")'">
            Đăng Nhập Lại
        </button>
    </div>
</body>
</html>
